@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --roboto-: "Roboto", sans-serif;
    --poppins-: "Poppins", sans-serif;
    --orange-: #F4694C;
    --Grey-: #AAAAAA;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}
.mb-4{
    margin-block: 3rem;
}
.max-width{
    max-width: 1200px;
    margin-inline: auto;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: var(--roboto-);
    font-weight: 500;
    color: rgb(170, 170, 170);
}
a:hover{
    color:#fff;
}
img{
    
    object-fit: cover;
}
button{
    font-family: var(--poppins-);
    padding: 0.6rem 2rem ;
    font-size: 16px;
    border: none;
    background-color: var(--orange-);
    color: white;
   
}
h1{
    font-size: 64px;
    font-family: var(--poppins-);
    text-transform: capitalize;
}
h2{
    font-family: var(--poppins-);
    font-size: 2.9rem;
    line-height: 1.5;
}
h3{
    font-family: var(--poppins-);
    font-size: 20px;
}
h4{
    color: #fff;
    font-family: var(--poppins-);
    font-weight: 400;
}
li{
    color: var(--Grey-);
    font-family: var(--roboto-);
}
li:hover{
    color: #fff;
}
p{
    color:  #AAAAAA;
    font-family: var(--roboto-);
    line-height: 26px;
}
span{
    font-family: var(--roboto-);
    color: var(--orange-);
}
.btn-primary{
    border: 2px solid var(--orange-);
}
.btn-primary:hover{
    background-color: #fff;
    color: var(--orange-);
}
.btn-secondary{
    background-color: transparent;
    border: 2px solid ;
}
.btn-secondary:hover{
    background-color: var(--orange-);
}

/* !-----Header Section-----! */
header{
    width: 100%;
    position: absolute;
}
.header{
    padding: 1rem;
}
.header, .sec, .nav, .nav-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec{
    gap: 5.2rem;
}
.sec img{
    width: 120px;
}
.nav{
    gap: 2rem;
}
.header .nav-btn{
    gap: 1rem;

}
/* !-------Main Section-----! */
.hero{
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.637) ), url(/assets/Photos/futuristic-bg.png);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.hero .container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.hero .container .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btns-groups{
    display: flex;
    gap: 1rem;
}

.left h1{
    color: #fff;
}
.left p{
    color: rgb(170, 170, 170);
    width: 60%;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.hero .right div:first-child{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.right div h3{
    color: #ffff;
}
.right div img{
    width: 120px;
}
/* !-----Product Cart-----! */
.popular-games{
    padding: 3rem 1rem;
}
.popular-games .container{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}
.heading{
    text-align: center;
    text-transform: capitalize;
}
.popular-games .container .items{
    width: 100%;
    height: 400px;
    position: relative;
    display: block;
    
}
.items-1, .items-2, .items-3, .items-4{
    background-size: cover;
}
.popular-games .container .items-1{
    background-image: url(/assets/Photos/image\ 2.png);
    background-position: center right;
}
.popular-games .container .items-2{
    background-image: url(/assets/Photos/image\ 4.png);
    background-position: center ;
}
.popular-games .container .items-3{
    background-image: url(/assets/Photos/image\ 3.png);
    background-position: center;
}
.popular-games .container .items-4{
    background-image: url(/assets/Photos/Rectangle\ 56.png);
    background-position: center center;
}
.items .items-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #ffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    padding: 1rem;
}
.items-description .text p{
    color: #fff
}
.items-description .text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.stars {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.stars img{
    width: 20px;
}
/* !----Banner Section----! */
.explore{
    margin-top: 3rem;
}
.explore .container{
    display: flex;
    padding: 1rem;
    gap: 6rem;
    align-items: center;
}
.explore .container .left{
    width: 100%;
    height: 600px;
}
.explore .container .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.explore .container .right{
    gap: 1rem !important;

}
.explore .container .right h2{
    text-transform: capitalize;
    width: 95%;
    font-size: 50px;
}
.explore .container .btns-groups .btn-secondary{
    color: var(--orange-) ;
}
.explore .container .btns-groups .btn-secondary:hover{
    color: white;
}
/* !-----Game Recommendetion-----! */
.game-week .container, .game-week .heading{
    padding: 1rem;
}
.game-week  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
.game-week .heading h2{
    text-align: left;
}
.game-week .heading .svg-groups{
    display: flex;
    gap: 10px;
}
.game-week .heading .svg-groups img{
    padding: 1.5rem 1rem;
}
 .svg-groups img:first-child{
    background-color: #FAB7A9;
}
.svg-groups img:nth-child(2){
    background-color: var(--orange-);
}
.game-week .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 6rem;
}
.game-week .container .items{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.game-week .container .items img{
    width: 280px;
    height: 300px;
    object-fit: cover;
}
.game-week .container .items .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.game-week .container .items .text button{
    width: max-content;
}
/* !-----Most-game Section-----! */
.game-most, .banner, footer, .copyright{
    background-color: black;
    padding: 1rem;
}
.game-most .container .heading{
    color: white;
    padding: 5rem 1rem;
}
.game-most .container .main{
    display: flex;
    position: relative;
    height: 600px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.main img{
    position: absolute;
}
.game-most .main .bg-1 {
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    opacity: 80%;

}
.main .bg-2{
    width: 400px;
    height: 400px;
    bottom: 0;
    left: 28rem;
    opacity: 80%;
}
.main .bg-3{
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    opacity: 80%;
}
.main .game{
    bottom: 3rem;
    left: 2rem;
    width: 800px;
    height: 80px;
    object-fit: contain;
}
.main p{
    position: absolute;
    width: 50%;
    left: 28rem;
    top: 4rem;
}
/* !-----Banner Section-----! */
.banner{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.637)), url(/assets/Photos/Rectangle\ 606.png);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .container h2, .banner .container p{
    text-align: center;
}
.banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.banner .container h2{
    color: #fff;
}
/* !----Footer Section-----! */
.footer{
    display: flex;
    padding: 6rem 0;
    justify-content: space-around;
}
.company{
    width: 25%;
    gap: 1rem;
}
.company p{
    padding: 1rem 0;
}
.company div{
    display: flex;
    gap: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* !----Copyright----! */
.copyright{
    color: white;
    font-family: var(--roboto-);
    text-align: center;
    border-top: 1px solid #fff;
    padding: 1rem 0;
}