@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --Robot-: "Roboto", sans-serif;
    --Poppins-: "Poppins", sans-serif;
    --font-1: 51px;
    --font-2: 19px;
    --primary-color: #6663E9;
    --second-color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 1rem;
}
::placeholder { 
    color: #D1D1D1;
    font-size: 1rem;
    font-family: var(--Poppins-);
    font-weight: 400;
  }
p{
    font-size: 16px;
    line-height: 27px;
   
    font-weight: 500;
}
h2{  
    font-family: var(--Poppins-);
    font-size: var(--font-1);
    font-weight: 700;
}
h4{
    font-size: var(--font-2);
    font-weight: 400;
}
h3{
    font-size: 24px;
    color: var(--primary-color);
    margin-top: 5px;
    font-family: var(--Poppins-);
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--second-color);
    border: 2px solid var(--bgp);

}
button{
    outline: none;
    padding: 12px 25px;
    border-radius: 2rem;
    border: none;
    font-size: 18px;
    width: max-content;
    font-family: var(--Poppins-);
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.btn-primary:hover{
    background-color: var(--second-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
li{
    list-style-type: none;
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--Robot-);

}
/* ------Navigation section------ */
.max-width{
    max-width: 1200px;
    margin-inline: auto;
}
header{
    position: absolute;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 ;
    border-bottom: 1px solid;
    border-bottom-color: white;
   
}
header nav img, header nav ul{
    padding: 0 1.5rem;
} 
nav img{
   width: 110px;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul li{
    font-size: 18px;
    color: #D1D1D1;
    list-style-type: none;
    font-weight: 400;
}
nav .ham-menu{
    display: none;
}
/* -----First main section------ */
.hero{
    background-image: linear-gradient(to top, rgba(20, 20, 20, 0.247), rgba(20, 20, 20, 0.616)), url(./assets/Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
}

.hero .container h1{
    font-family: var(--Poppins-);
    color: var(--second-color);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero .container p{
    font-size: var(--font-2);
    color: #D1D1D1;
    width: 30%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0.5rem;
}
.hero .container button{
  margin-top: 10px;
   
   
}
.hero button{
    width: max-content;
}
/* -----Logo section----- */
.logos{ 
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;    
}
.logos .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 3rem 1rem;
}
.logos .container img{
    width: 130px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.logos .container img:hover{
    scale: 1.08; 
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -----Property sample section----- */
.heading{
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.locations .heading h2{
    text-align: center;
    margin-top: 5.5rem;
}

.locations .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 24px;
    row-gap: 6rem;
    margin-top: 4rem;
}

.locations .container .items{
    width: 25vw;
    height: 55vh;
    background-size: cover;
    border-radius: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}
.items .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #FFFFFF;
    padding: 0.7rem 1.3rem;
    position: absolute;
    bottom: -2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;   
}

.items-1{
    background-image: url(./assets/Photos/cardImage1.png);  
}
.items-2{
    background-image: url(./assets/Photos/cardImage2.png);    
}
.items-3{
    background-image: url(./assets/Photos/cardImage3.png);
}
.items-4{
    background-image: url(./assets/Photos/cardImage4.png);  
}
.items-5{
    background-image: url(./assets/Photos/cardImage5.png);
}
.items-6{
    background-image: url(./assets/Photos/cardImage6.png);
}
.items-7{
    background-image: url(./assets/Photos/cardImage7.png);
}
.items-8{
    background-image: url(./assets/Photos/cardImage8.png);
}
.items-9{
    background-image: url(./assets/Photos/cardImage9.png);
}
/* ------Early booking section------ */

.blogs{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
    /* padding-inline: 1rem; */
}

.blogs .image{
    width: 100%;
    height: 400px;
    position: relative;
}


.f-img{
    z-index: 2;
    max-width: 800px;
    border-radius: 1rem;
    height: 400px;
    margin-inline: auto;
}


.blogs .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 4rem;
}

.blogs p{
    max-width: 400px;
}

.blogs .image img:first-child{
    display: block;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: -1;
}

.blogs .image .f-img{
    width: 400px;
    margin-left: 10rem;
}


.text h4{
    text-align: left;
}
.blogs-2{
    display: flex;
    flex-direction: row-reverse;
}
/* ------Contact me Section----- */
.subscribe-news{
    margin-top: 10rem;
    padding: 1rem;
}
.subscribe-news .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--primary-color); 
    border-radius: 2rem;
    padding: 4rem 1rem;
    gap: 2rem;
}
.subscribe-news .container .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--second-color);
}
.subscribe-news .container .heading h2{
    text-align: center;
}
.subscribe-news .container .heading p{
    width: 33%;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
}
.subscribe-news .container .form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.form .email{
    display: flex;
    align-items: center;
    width: 32%;
    background-color: #5654D1;
    position: relative;
    padding: 0.7rem 1rem;
    border-radius: 10px;
}
.subscribe-news .container .email input{
    outline: none;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    left: 3.5rem;
    background-color: transparent;
    border: none;
}
.btn-secondary{
    color: var(--primary-color);
    font-family: var(--Poppins-);
}
.btn-secondary:hover{
    background-color: var(--primary-color);
    color: var(--second-color);
}

/* ----Footer Section---- */
footer{
   display: flex;
   padding: 1rem;
   gap: 2rem;
   margin-top: 6rem;
   flex-wrap: wrap;
}
.company{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    justify-content: left;
}
.company .logo{ 
 width: 33%;  
 height: 60%;
}
.company .social{
    display: flex;
    gap: 0.5rem;
    justify-content: left;
}
.company span{
    width: 40%;
    font-weight: 500;
    line-height: 27px;
}
.links{
    display: flex;
    gap: 8rem;
    width: 30%;
}
.links .link-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
.links .link-list h4{
    font-family: var(--Poppins-);
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: var(--font-2);
}
.link-list li{
    opacity: 0.7;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


/* ----- Tab Responsive ------ */
 @media (max-width:840px){
    .locations .container .items{
        width: 45vw;
        height: 30vh;    
    }
    .form .email{
        width: 40%;
    }
    .subscribe-news .container .heading p{
        width: 55%;
    }
    /* offer section */
    .blogs{
        padding: 1rem;
    }
    .blogs .image img:first-child{
        display: none;
    }
    .blogs .text{
        margin-left: 0;
    }
    .blogs .image .f-img{

        margin-left: 0;
    }
    .subscribe-news{
        margin-top: 3rem;
    }
    
    /* Footer */
    .company{
        width: 45%;
    }
    .company .logo{ 
        width: 55%;
    }
    .links .link-list{
        width: 10%;
    }
    .company span{
        width: 70%;
    }
} 
/* ---- Mobile Responsive ----- */
@media (max-width:440px) {
    body{
        overflow-x: hidden;
    }

    nav ul{
        display: none;
    }
    nav .ham-menu{
        display: block;
    }
    nav .ham-menu img{
        height: 48px;
        width: 48px;
    }
    header nav{
        padding: 1rem 1rem;
    }
    header nav img, ul{
        padding: 0;
    }
    /* -------First main section------- */
    .hero .container h1{
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 0;
    }
    .hero .container p{
        width: 100%;
        margin-bottom: 0;
    }
    /* property section  */
    .heading h2{
        font-size: 32px;
    }
    .locations .container .items{
        width: 90vw;
        height: 30vh;
    }
    /* offer section */
    .blogs{
        flex-direction: column;
        padding: 1rem; 
        margin-top: 3rem;
    }
    .blogs .image img:first-child{
        display: none;
    }
    .blogs .image .f-img{
        width: 92vw;
        margin-left: 0;
    }
    .blogs .text{
        margin-left: 0;
    }
    .blogs .text h2{
        font-size: 30px;
    }
    .blogs .btn-primary{
        width: 100%;

    }


    /* Subscribe section */
    .subscribe-news{
        margin-top: 3rem;
    }
    .subscribe-news .container .heading p{
        width: 90%;
    }
    .form .email{
        width: 100%;
    }
    .btn-secondary{
        width: 100%;
    }
    /* Footer */
    footer{
        margin-top: 2.5rem;
    }
    .company .logo{ 
        width: 55%;
    }
    .company{
        width: 100%;
    }
    .company span{
        width: 70%;
    }
  
    .links{
        width: 100%;
        flex-wrap: wrap; 
        gap: 2rem;
    }
    .links .link-list{
        width: 40%;
    }
}


